<p>blog-list works!</p>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Blog</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" 
           class="list-group-item clearfix" 
           *ngFor="let blog of blogs">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ blog.name }}</h4>
                <p class="list-group-item-text">{{ blog.content }}</p>
            </div>
        </a>
    </div>
</div>
